/* ==========================================
   FORMS
========================================== */

.form-control,
.form-select{

    border-radius:10px;

    min-height:45px;

    border:1px solid #ced4da;

    transition:.25s;

}

.form-control:focus,
.form-select:focus{

    border-color:var(--primary);

    box-shadow:0 0 0 .2rem rgba(13,110,253,.15);

}

.form-label{

    font-weight:600;

    margin-bottom:8px;

}

.form-group{

    margin-bottom:20px;

}

textarea.form-control{

    min-height:140px;

}

.form-card{

    background:#fff;

    padding:30px;

    border-radius:15px;

    box-shadow:var(--shadow);

}

.required{

    color:red;

}

.invalid-feedback{

    display:block;

}