/*=========================================================
 RESPONSIVE
=========================================================*/

@media(max-width:1200px){

.statistics{

grid-template-columns:repeat(2,1fr);

}

.quick-actions{

grid-template-columns:repeat(2,1fr);

}

.chart-grid{

grid-template-columns:1fr;

}

}

@media(max-width:992px){

.sidebar{

left:-290px;

}

.main{

margin-left:0;

}

.topbar{

padding:20px;

}

}

@media(max-width:768px){

.statistics{

grid-template-columns:1fr;

}

.quick-actions{

grid-template-columns:1fr;

}

.content{

padding:20px;

}

.search-box{

display:none;

}

}